.description{
  margin: 0;
}

.cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cards p{
  padding: 1rem;
  width: 31%;
  margin: 1%;
  border: 1px solid;
  text-align: center;
}

@media (max-width:600px){

  .cards{
    justify-content: flex-start;
  }

  .cards p{
    width: 48%;
  }
}