:root{
  --primary-purple:#5432D3;
  --primary-violet: #B224EF;
  --primary-red: #F2264B;
  --primary-black: #313140;
  --secondary: #005BEA;
  --secondary-light: #00C6FB;
  --black: #313140;
  --neutral-blue: #C5E3F6;

  --heading1: 4.5rem;
  --heading2: 3rem;
  --heading3: 2.25rem;
  --heading4: 1.5rem;

}

.guide{
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeContainer{
  width: 100%;
  min-height: 100vh;
}

.gallerySection{
  position: relative;
  background: linear-gradient(0deg, rgba(84,50,211,1) 2%, rgba(70,42,176,1) 32%, rgba(48,30,120,1) 81%);
  padding-bottom: 60px;
}

.gallerySection header{
  padding-top: 50px;
}

.gallerySection header::after{
  content: "";
  display: block;
  background: linear-gradient(180deg, rgb(49, 49, 64) 0%, rgb(49, 49, 64) 37%, rgba(0, 0, 0, 0) 100%);
  height: 400px;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}

.galleryTitle{
   color: white;
   font-size: var(--heading2);
   font-family: 'Poppins', sans-serif;
   text-align: center;
   position: relative;
   z-index: 9;
}

footer{
  text-align: center;
  padding: 53px;
}

footer p{
  color: white;
}

footer img{
  width: 150px;
}

@media (max-width: 1024px) {
  :root{
    --heading1: 4.1rem;
    --heading2: 2.8rem;
    --heading3: 1.8rem;
    --heading4: 1.2rem;
  }
}



@media (max-width: 768px) {
  :root{
    --heading1: 3.6rem;
    --heading2: 2.5rem;
  }
}


@media (max-width: 480px) {
  :root{
    --heading3: 1.8rem;
    --heading4: 1.2rem;
  }
  
}